@import url( 'https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
* {
    box-sizing: border-box;
}

body {
font-family: 'Inter';

}
form {
background: white;
padding: 40px; 
width: 550px; 
max-width: calc (100% - 60px);
border-radius: 5px;
margin-top: 20px;

}
.form-container{
margin: auto;
display: flex;
justify-content: center;

}
.form-element { 
    display: flex; 
    flex-direction: column;
    margin-bottom: 30px;
    
}
.form-element input,.radio-buttons .radio-input ,.input-span{ 

    width: 100%;
}
.radio-buttons input{ 

    width: 40px;
}
.form-element
span{
margin-bottom:10px;
}
.container input, textarea ,.input-span,.form-element-response select{
    border: 1px solid #d0d2e2;
    line-height: 2; 
    padding: 5px; 
    border-radius: 5px;

}
.form-element label { 
    margin-bottom: 10px;
    cursor: pointer;
}
form button, .step3 a,.msg a {
    width: 150px;
    padding: 10px;
    color:white;
    background:#182d8b;
    border-radius:5px;
    border: none; 
    font-size: 18px;


    
}
.buttonclick{
    width: 150px;
    padding: 10px;
    color:white;
    background:#182d8b;
    border-radius:5px;
    border: none; 
    font-size: 18px;
    text-decoration: none;
    margin-bottom: 15px;
    margin-top: 15px;
    text-align: center;
}
.q{
    font-weight: bold;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;

    height: 150px;
    width: 100%;
    background: #182d8b;

    color: white;

}
.header img{
    object-fit: contain;
    height: 150px;
    padding: 20px;
}
.header h1{
    font-size: 30px;
}
.header1{
    height: 150px;
    width: 100%;
    background: #182d8b;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
}
.header1 img{
    object-fit: contain;
    height: 150px;
    padding: 20px;
}
.header1 h1{
    font-size: 30px;
}
.log-items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
  }
.logname {
    background-color: white;
    color: #000;
 margin-right: 50px;
 padding: 10px;
 border-radius: 50px;
}
.logname1 {
    background-color: white;
    color: #000;
margin-left: -40px;
 border-radius: 50px;
 width: 50px;
 height: 50px;
}
.msg{
  height: 100vh;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  
}

@keyframes loading {
    from{
        transform: rotate(0turn);
    }
    to{
        transform: rotate(1turn);
    }
}
.bt{
    display: initial;
}

.step3{
    display: none;
    background: white;

    flex-direction: column;


}
.confirm_details img{
    max-width: 100px;
    height: 100px;
    object-fit: contain;

}
.topics {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
      margin-top: 10px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: auto;
      max-height: 200px;
      line-height: 3.5;
    height: 50px;
      font-family: "Arial";
      align-content: center;
      width: 100%;
    max-width: 200px;
      text-align : center;
      background-color: #182d8b;
      border-radius: 20px;
    color: white;
  }
  .topics a, .topice a{
    color: white;
    text-decoration: none;
  }
.load{
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
align-content: center;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.424);

    transition: opacity 0,75s, visibility 0.75s;
}
.message{
    
    margin-left: auto;
margin-right: auto;
text-align: center;
margin-top: 20px;
background-color: #182d8b;
border-radius: 50px;
color: white;
padding: 20px;
max-width: 500px;
width: calc(100% - 40px);

box-shadow: 5px 5px 10px 1px #000000;
font-weight: bold;

}
.loader {
margin-left: auto;
margin-right: auto;


    width: 48px;
    height: 48px;
    background:#182d8b;
    --c:no-repeat linear-gradient(#000 0 0);
    --s:18px 18px;
    -webkit-mask:
      var(--c) left  4px top    4px,
      var(--c) right 4px top    4px,
      var(--c) right 4px bottom 4px,
      var(--c) left  4px bottom 4px,
      linear-gradient(#000 0 0);
    -webkit-mask-composite:xor;
            mask-composite:exclude;
    animation: l5 1.5s infinite;
  }
  @keyframes l5 {
    0%    {-webkit-mask-size:0    0  ,0    0  ,0    0  ,0    0  ,auto}
    12.5% {-webkit-mask-size:var(--s),0    0  ,0    0  ,0    0  ,auto}
    25%   {-webkit-mask-size:var(--s),var(--s),0    0  ,0    0  ,auto}
    37.5% {-webkit-mask-size:var(--s),var(--s),var(--s),0    0  ,auto}
    50%   {-webkit-mask-size:var(--s),var(--s),var(--s),var(--s),auto}
    62.5% {-webkit-mask-size:0    0  ,var(--s),var(--s),var(--s),auto}
    75%   {-webkit-mask-size:0    0  ,0    0  ,var(--s),var(--s),auto}
    87.5% {-webkit-mask-size:0    0  ,0    0  ,0   0   ,var(--s),auto}
    100%  {-webkit-mask-size:0    0  ,0    0  ,0   0   ,0   0   ,auto}
  }
 table .approve{
    background-color: green;
    margin-right: 20px;
    text-decoration: none;
  }
 table .decline{
    background-color: red;
    margin-right: 20px;
    text-decoration: none;
  }
  .btn{
    background-color:#182d8b;
    margin-right: 20px;
    text-decoration: none;
    color: white;
    border-radius: 20px;
    padding: 20px;
border-color: transparent;

  }
  .btn11{
    background-color:#182d8b;
    margin-right: 0px;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    padding: 10px;
border-color: transparent;

  }

  .question-no{
background: whitesmoke;
padding: 20px;
border-radius: 20px;
margin-bottom: 20px;
  }
  .question-no span{
font-weight: bold;
      }
  .question-area{
    display: flex;
    flex-direction: column;

  }
  .question-select{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .question-select .form-element{
   width: 100%;
  }
  .question-select select{
    width: 100%;
    height: 39px;
    border: 1px solid #d0d2e2;
    line-height: 2; 
    padding: 5px; 
    border-radius: 5px;
   }
   
   .span-in-place{
    margin-top: -43px;
    margin-left: 5px;
    
    font-weight:lighter;
    color: grey;
    font-size: small;
  
  
   }
   .input-span{
background-color: white;

   }
   .edit-btns{
    display: flex;
width: 120px;

   }
.dash-whole{
  display: flex;
  flex-direction: row;
height: 100%;
}
.dash-whole span{
font-weight: bold;
font-size: 20px;
}
.dash-whole p{
color: #000;
text-align: center;
  }
.notification{
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}
.up-companies{
  width: 30%;
  height:100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}
.up-companies table, .up-companies th, .up-companies td {
  border: 0px;
  
}
.up-companies .com-table{
  height: 100%;
  overflow: scroll;
  
}
.up-companies .com-table::-webkit-scrollbar{
display: none;
}
  @media (max-width: 1000px) {
body{
  height: 100vh;
}
    .header {
  flex-direction: column;
  height: 200px;
  align-content: center;
  justify-content: center;
  
    
    }
    .log-items{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        
      }
    .logname {
     
        margin-right: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
margin-bottom: 20px;
        
    }
    .logname1{
       margin-left: 10px;
       margin-top: -20px;
    }
    .dash-whole{

      flex-direction: column;

    }
    .notification{
      width: 100%;
      height: 50vh;
    }
    .up-companies{
      width: 100%;
      height: 40vh;
    }
}

@-webkit-keyframes scroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(calc(-150px * 10));
  }
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
.slider, .com-table {
  background: rgb(237, 235, 235);
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 100%;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  border-radius: 20px;
  display: flex;
align-items: center;
justify-content: center;
}
.slider span, .com-table span{
  font-weight: lighter;
  font-size: 14px;
}


.slider .slide-track {
  margin-top: 50px;

          animation: scroll 40s linear infinite;
            -webkit-animation: scroll 40s linear infinite;
  display: flex;
  flex-direction: column;

}
.slider .slide {
  height: 100px;
  width: 100%;
}
.slider:hover .slide-track{
  animation-play-state: paused;
  -webkit-animation-play-state: paused;
  
}
